*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.header{
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    align-items: center;
    padding: 10px 20px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    gap: 10px;
    background-color: #1F2937;
    padding: 16px;
}

.main img{
    width: 500px;
}

.main .text-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 16px;
}

.text-container .main-text{
    color: #F9fAF8;
    font-size: 48px;
    font-weight: 900;
}

.text-container .secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.main button{
    width: 100px;
    padding: 8px;
    border-radius: 8px;
}