*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.header{
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    align-items: center;
    padding: 10px 20px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    gap: 10px;
    background-color: #1F2937;
    padding: 16px;
}

.main img{
    width: 500px;
}

.main .text-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 16px;
}

.text-container .main-text{
    color: #F9fAF8;
    font-size: 48px;
    font-weight: 900;
}

.text-container .secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.main button{
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    background-color: #3882F6;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.info-container h2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 16px;
    margin-bottom: 24px;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.card img{
    width: 300px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 24px;
}

.card p{
    text-align: center;
}

.quote-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    width: 100%;
}

.quote-container p{
    text-align: center;
    width: 900px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-container strong{
    display: block;
    width: 900px;
    text-align: right;
}

.call-to-action{

    padding: 36px;
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    margin: 48px 300px;
    color: #F9FAF8;
}

.call-to-action .text .head{
    font-size: 24px;
    font-weight: 600;
}

.call-to-action button{
    width: 100px;
    padding: 12px;
    border: 1px solid #F9FAF8;
    border-radius: 8px;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: 600;
    color: #F9FAF8;
}